<h1>sharing</h1>
<p>
   if you have some words want to say, you can just left them by 'new one' button
</p>

<div class="div_text">  
    <% @posts.reverse_each do |post| %>
 	<br/>
	<br/>
        <p><%= post.title %><p/>
        <p><%= post.words %></p>
        <td><%= link_to 'Show', post %></td>   
<!--        <td><%= link_to 'Edit', edit_post_path(post) %></td>   -->
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  

<br/>
<br/>

<%= link_to 'New One', new_post_path %>
</div>
